<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,0},{161,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{161,195}}</string>
				<key>sourceSize</key>
				<string>{167,202}</string>
			</dict>

			<key>002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,392},{151,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{151,195}}</string>
				<key>sourceSize</key>
				<string>{155,202}</string>
			</dict>

			<key>003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,196},{153,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{153,195}}</string>
				<key>sourceSize</key>
				<string>{159,203}</string>
			</dict>

			<key>004.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,779},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{170,195}}</string>
				<key>sourceSize</key>
				<string>{178,200}</string>
			</dict>

			<key>005.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,191},{197,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{197,195}}</string>
				<key>sourceSize</key>
				<string>{205,203}</string>
			</dict>

			<key>006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{218,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{218,192}}</string>
				<key>sourceSize</key>
				<string>{225,199}</string>
			</dict>

			<key>007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{225,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{225,190}}</string>
				<key>sourceSize</key>
				<string>{228,194}</string>
			</dict>

			<key>008.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,387},{193,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{193,195}}</string>
				<key>sourceSize</key>
				<string>{197,200}</string>
			</dict>

			<key>009.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,589},{172,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{172,189}}</string>
				<key>sourceSize</key>
				<string>{179,194}</string>
			</dict>

			<key>010.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,392},{178,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{178,196}}</string>
				<key>sourceSize</key>
				<string>{185,202}</string>
			</dict>

			<key>011.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,195},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{166,188}}</string>
				<key>sourceSize</key>
				<string>{174,193}</string>
			</dict>

			<key>012.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,769},{165,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{165,194}}</string>
				<key>sourceSize</key>
				<string>{172,201}</string>
			</dict>

			<key>013.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,384},{166,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{166,189}}</string>
				<key>sourceSize</key>
				<string>{173,195}</string>
			</dict>

			<key>014.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{170,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{170,194}}</string>
				<key>sourceSize</key>
				<string>{177,200}</string>
			</dict>

			<key>015.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,0},{173,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{173,190}}</string>
				<key>sourceSize</key>
				<string>{181,196}</string>
			</dict>

			<key>016.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,196},{178,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{178,195}}</string>
				<key>sourceSize</key>
				<string>{190,209}</string>
			</dict>

			<key>017.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,195},{165,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,7},{165,188}}</string>
				<key>sourceSize</key>
				<string>{181,203}</string>
			</dict>

			<key>018.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,574},{165,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,2},{165,194}}</string>
				<key>sourceSize</key>
				<string>{177,200}</string>
			</dict>

			<key>019.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,589},{167,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{167,189}}</string>
				<key>sourceSize</key>
				<string>{174,193}</string>
			</dict>

			<key>020.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,779},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{170,195}}</string>
				<key>sourceSize</key>
				<string>{179,202}</string>
			</dict>

			<key>021.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,196},{173,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{173,190}}</string>
				<key>sourceSize</key>
				<string>{180,195}</string>
			</dict>

			<key>022.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,0},{193,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{193,195}}</string>
				<key>sourceSize</key>
				<string>{199,201}</string>
			</dict>

			<key>023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{225,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{225,190}}</string>
				<key>sourceSize</key>
				<string>{233,198}</string>
			</dict>

			<key>024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,573},{219,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,8},{219,196}}</string>
				<key>sourceSize</key>
				<string>{236,214}</string>
			</dict>

			<key>025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{231,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{231,190}}</string>
				<key>sourceSize</key>
				<string>{243,201}</string>
			</dict>

			<key>026.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,779},{184,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{184,195}}</string>
				<key>sourceSize</key>
				<string>{192,202}</string>
			</dict>

			<key>027.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,0},{149,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{149,190}}</string>
				<key>sourceSize</key>
				<string>{160,196}</string>
			</dict>

			<key>028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,779},{142,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,4},{142,195}}</string>
				<key>sourceSize</key>
				<string>{154,203}</string>
			</dict>

			<key>029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,588},{148,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{148,190}}</string>
				<key>sourceSize</key>
				<string>{159,200}</string>
			</dict>

			<key>030.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,583},{184,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,7},{184,195}}</string>
				<key>sourceSize</key>
				<string>{191,205}</string>
			</dict>

			<key>031.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,770},{214,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{214,190}}</string>
				<key>sourceSize</key>
				<string>{218,197}</string>
			</dict>

			<key>032.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,573},{199,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{199,194}}</string>
				<key>sourceSize</key>
				<string>{210,202}</string>
			</dict>

			<key>033.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{176,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{176,190}}</string>
				<key>sourceSize</key>
				<string>{185,198}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>